<!DOCTYPE html>
{% load static %}
<html lang="ja">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/base.css' %}">
    <!--static-->
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
    <div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
</div >
    
</body>

</html>