{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
{% endblock %}

{% block body %}
<div>
    {{ user.username}}<br>
    <h1>aiueo</h1>
</div>
<div class="topmenu">
    {% if not user.is_authenticated %}
    <a href="{% url 'login' %}">login</a><br>
    <a href="{% url 'signup' %}">sign-up</a>
    {% else %}
    <a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'mypage' user.pk %}">Mypage</a>
    <a href="/workout">Workout</a>

    {% endif %}
{% endblock %}