body{
    background-color: #293949;
    margin: 0;
    padding: 0;
}
/*header*/
header{
    position: absolute;
    top: 0%;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(235, 251, 255);
}
/*hamberger menu */
.hamberger_btn{
    padding-left: 10px;
}
input{
    display: none;
}
label{
    position: relative;
    float: left;
    clear: both;
    z-index: 3;
    cursor: pointer;
}
span{
    display: inline-block;
    width: 35px;
    height: 15px;
}
span i{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#1abc9b;
    display: block;
    transition: all 0.5s ease-in-out;
}
span i:nth-child(1){
    top: 0;
}
span i:nth-child(2) {
    margin: auto;
    top: 0;
    bottom: 0;
}
span i:nth-child(3) {
    bottom: 0;
}
input:checked + label span i:nth-child(1) {
    margin: auto;
    transform: rotate(45deg);
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
}
input:checked + label span i:nth-child(2) {
    transform: rotateX(90deg);
    top: 0;
    bottom: 0;
}
input:checked + label span i:nth-child(3) {
    margin: auto;
    transform: rotate(-45deg);
    top: 0;
    right: 0;
    bottom: 0;
}
/*hamberger*/
/*hedder*/

/*main*/
main{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 60px;
}
.div1{
    width: 20%;
    height: 100%;
}
.div2{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(226, 210, 210);
    padding-top: 30px;

}
.div3{
    width: 20%;
    height: 100%;
}

/*サイドメニュー*/
.list_item{
    margin-left: 35px;
    margin-top: 20px;
    cursor: pointer;
    color: #000000;
    width: 170px;
    list-style: none;
    position: relative;
}
.menuall {
    transform: translateX(-150%);
    transition: all 0.6s;
}
.menuall.active{
    width: 220px;
    transform: translateX(0%);
    border-bottom: solid 1px #8e9db1;
    background-color: azure;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

summary:hover{
    color: #1abc9b; 
}
#practice::before{
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../img/118949.png);
    display: inline-block;
    content: '';
    background-size: contain;
    top: 0;
    left: -35px;
}
#tactics::before{
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../img/143806.png);
    display: inline-block;
    content: '';
    background-size: contain;
    top: 0;
    left: -35px;
}
#news::before{
    width: 25px;
    height: 25px;
    position: absolute;
    background-image: url(../img/132817.png);
    display: inline-block;
    content: '';
    background-size: contain;
    top: 0;
    left: -35px;
}
/* 矢印の変更 */
.list_item::after{
    position: absolute;
    top: 0;
    right: 0;
    content: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85188/arrow-right.svg);
}

details[open] summary{
    color: #1abc9b;
}
/* 開くときのアニメーション */
details[open] div{
    animation: fadein 0.5s ease;
}
/* アニメーションの設定 */
@keyframes fadein{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
}
/* 矢印のアニメーション*/
.details-tag[open] summary::after{
    transform: rotate(90deg);
    animation-name: btn-anime;
    animation-duration: 1.5s;
}
/* 矢印のアニメーションの設定 */
@keyframes btn-anime {

    0%{
        transform: rotate(0deg);
    }

    
    50%{
        transform: rotate(-400deg);
        opacity: 0.1;
    }
}

/*ここまでがアコーディオンメニューの設定*/

/*アコーディオンの中の要素の設定*/

a{
    padding-left: 55px;
    width: 15%;
    font-size: 15px;
    color: #bdc0c5;
    text-decoration-line: none;
    
}

a:hover{
    color: #1abc9b;
}
