<!DOCTYPE html>
<!--{% load static %}-->
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workout</title>
    <link rel="stylesheet" href="{% static 'workout/css/base1.css' %}">
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--static-->
    {% block head %} {% endblock %}
</head>

<body>
    <div class="container">
        <header>
            <nav class="nav1">
                <div class="hamberger_btn">
                    <input type="checkbox" name="ham" id="hamberger">
                    <label for="hamberger">
                    <span>
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                </label>
                </div>
                <div class="head">
                    <a href="/">
                        <img src="{% static 'workout/img/header.png' %}" alt="top画面" width="180px" height="22px">
                    </a>
                </div>
                <div class="mypage">
                    <a href="">
                        <img class="mypagelogo" src="{% static 'workout/img/143806.png' %}">
                    </a>
                </div>
            </nav>

        </header>
        <main>
            <div class="div1">
                <div class="menuall">
                    <details class="details-tag" id="detail-id">
                        <summary class="list_item" id="practice">Practice</summary>
                        <div class="tag-a">
                            <a href="/login">Individual</a><br>
                            <a href="/">Team Practice</a>
                        </div>
                    </details>
                    <details class="details-tag" id="detail-id">
                        <summary class="list_item" id="tactics">Tactics</summary>
                        <div class="details-item">
                            <div class="tag-a">
                                <a href="{% url 'tactics'%}">Tactics</a>
                            </div>
                        </div>
                    </details>
                    <details class="details-tag" id="detail-id">
                        <summary class="list_item" id="news">NEWS</summary>
                        <div class="tag-a">
                            <a href="/">NBA</a>
                            <a href="/">BASKTESHOES</a>
                        </div>
                    </details>
                    <details class="details-tag" id="detail-id">
                        <summary class="list_item" id=mypage><a href="{% url 'mypage' user.pk %}">MyPage</a>
                        </summary>
                    </details>
                </div>

            </div>
            <!--文章の作成-->
            {% block contents %} {% endblock %}
        </main>
    </div>

</body>
<script src="{% static 'workout/js/workout.js' %} "></script>

</html>