{% extends "base1.html" %} {% block contents %}
<article>
    <div>

    </div>
    <h1>オフボールの動き</h1>
    <div class="text">
        <!--基本的な考え方を乗せる-->
        <p>ボールを持っていない時の動き方とその目的<br> オフボールの動きには大きく分けて2種類の動き方があります。
            <br> 目的はどちらもより効率のいいシュートを目指すために行うということです。
            <br> チームの約束事、戦術にもよりますが目的をしっかり意識してオフボールを行うことが大切です。
            <br>
        </p>
    </div>


    <div class="mokuzi">
        <div><span>目次</span></div>
        <ul>
            <li><a href="#m1">カッティング</a></li>
            <li><a href="#m2">スクリーン</a></li>
        </ul>
    </div>
    <h2 id="m1">カッティング</h2>
    <div class="text">
        <p>オフボールの基本的な動き方はカッティングです。<br> 自分がフリー、またはディフェンスに対して有利な状況でパスを貰うための動きです。
            <br> または味方のためにスペースを広げるために行う時もあります。
            <br> 基本的なカッティングの種類は下記のリンクに詳しく載っているので軽く目を通してみてください。
        </p>
        <a target="_blank" rel="noopener noreferrer" href="https://ichibball.com/2021/01/27/cuts/">バスケットボール・オフボールの動き方１２選</a>
    </div>
    <div class="text">
        <p>意識する点としては</p>
        <ul>
            <li>カッティングのタイミング</li>
            <li>ディフェンスとの位置関係</li>
            <li>スペースの確認</li>
            <li>パサーの状態</li>
            <li>緩急をつける</li>
            <li>ターゲットハンド</li>
            <li>ミートでズレを作る</li>
        </ul>
        <p>1つ1つ詳しくは実際の練習の時などで説明しますがお手本としてNBAのナゲッツを見ることをお勧めします。<br> 15番ヨキッチがボールを持っている時の他の選手の動きは方はとても参考になります。
            <br> 特に50番のアーロンゴードン、1番のMKJをお勧めします。
            <br> 合わせの動きも基本的には同じなので慣れてくれば合わせも上手くなって行くと思います。
        </p>
        <iframe src="" frameborder="0"></iframe>//nuggets teamplay
    </div>
    <h2 id="m2">スクリーン</h2>
    <div class="text">
        <p>基本的には味方を助ける動きです。<br> ですがディフェンスの対応によっては自分の得点チャンスにもなる動きなのでスクリーンをかけて終わりではなく、きちんとその後の動き方も覚えましょう。</p>

        <ul>
            <li>オフボールスクリーン</li>
            <li>オンボールスクリーン</li>
        </ul>
        <p>2種類あります。どちらも共通して重要な点は</p>
        <ul>
            <li>スクリーンをかける相手の動きを予測、確認すること</li>
            <li>スクリーンをかける角度</li>
        </ul>
        <p>上記の2点はスクリーンプレイを行う上で非常に重要です。<br> 予測してセットをしなければディフェンスは簡単にスクリーンをかわすことが可能であり、スペースをつぶしてしまうので返ってディフェンスにとって有利な状況になりやすいです。<br> また角度が適切でない場合、例えスクリーンにディフェンスが引っかかったとしてもシュートに繋がらない、ディフェンスが追いつく可能性が高まります。

        </p>
    </div>
    <h3>オフボールスクリーン</h3>
    <div class="text">
        <p>オフェンスの戦術(セットプレー)で100%組み込まれています。
            <br>これを上手くできるのとできないのでは熟練度に大きな差ができます。NBAでもしっかりスクリーンできるかどうかが評価の対象に入るほどです。
            <br>基本的な種類は下記リンクで確認してください。
        </p>
        <a target="_blank" rel="noopener noreferrer" href="https://ichibball.com/2021/01/28/offball-screens/">オフボールスクリーン の種類と対応方法を解説</a>

    </div>
    <h2 id="m3">オンボールスクリーン</h2>
    <div class="text">
        <p>
            代表的な例として、ピック＆ロールがあります。
            <br>複雑なもの(スペインピックやダブルスクリーンなど)は実際の練習で行いましょう。
            <br> またまた下記のリンクに基本的な動きがあるので確認してください。
        </p>
        <a target="_blank" rel="noopener noreferrer" href="https://coach-mm.com/pickandroll/">ピック＆ロールの使い方</a>

    </div>

    <h2>まとめ</h2>
    <div class="text">
        <p>最後にそれぞれの動きで参考になるNBAの選手を独断と偏見で紹介するので暇な人は動画を見てください</p>
    </div>

    <div class="text">
        <ul>
            <li>クリスポール&デビンウエストorブレイクグリフィン(ピック＆ロール)</li>
            <li>レイアレン(オフボールスクリーンの使い方、使われている選手)</li>
            <li>ウォーリアーズ(オフボールスクリーン、カッティング)</li>
            <li>ナゲッツ(カッティング)</li>
            <li>ステフィン・カリー</li>
        </ul>
    </div>
</article>
{% endblock %}